@model IEnumerable<Softlock_Solutions.Models.CurrentJobInformation>
@{
    ViewData["Title"] = "CurrentJobInformation";
}


    <div class="row justify-content-around">
        <div><h1>Current Job Information Records</h1></div>
        <a asp-action="AddCurrentJob" asp-controller="Home"><i class="fas fa-plus-circle fa-3x"></i>Add</a>
        <div>
            <form method="post" asp-action="searchCurrentJobInfo">
                <input type="text" id="id" placeholder="Employee Number" />
                <input type="submit" class="btn btn-info w-15" value="search" />
            </form>
        </div>
    </div>
<div class="container p-3 text-center p-3 mb-2 bg-dark text-white">

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped text-white" style="width:100%">
            <thead>
                <tr>
                    <th>Employee Number</th>
                    <th>Employee Count</th>
                    <th>Hourly rate</th>
                    <th>Job Involvement</th>
                    <th>Job Level</th>
                    <th>Job Role</th>
                    <th>Job Satisfication</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td width="20%">@obj.EmployeeNumber</td>
                    <td width="30%">@obj.EmployeeCount</td>
                    <td width="30%">@obj.HourlyRate</td>
                    <td width="30%">@obj.JobInvolvement</td>
                    <td width="30%">@obj.JobLevel</td>
                    <td width="30%">@obj.JobRole</td>
                    <td width="30%">@obj.JobSatisfaction</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Home" asp-route-Id="@obj.EmployeeNumber" asp-action="CurrentjobEdit" class="btn btn-primary mx-2">
                                <i class="fas fa-edit"></i>
                                
                            </a>
                            <a asp-controller="Home" asp-route-Id="@obj.EmployeeNumber" asp-action="CurrentjobDelete" class="btn btn-danger mx-2">
                                <i class="far fa-trash-alt"></i>
                                
                            </a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No Information.</p>
    }

</div>
